{erl_opts, [debug_info]}.
{deps, [
    {jsx, {git, "https://github.com/talentdeficit/jsx.git", {tag, "v2.9.0"}}},
    {cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "2.5.0"}}}
]}.

{relx, [{release, {poke, "1.0.0"},
         [poke,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
